
<%= form_for @work, :html => { :multipart => true } do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div></p>
  <p><div class="field">
      <%= f.label :gdesign, 'Graphic Design?' %><br>
      <%= f.check_box :gdesign%>
    </div></p>
    <p><div class="field">
      <%= f.label :wdesign, 'Web Design?' %><br>
      <%= f.check_box :wdesign%>
    </div></p>
    <p><div class="field">
      <%= f.label :wdevel, 'Web Development?' %><br>
      <%= f.check_box :wdevel%>
    </div></p>
    <p><div class="field">
      <%= f.label :published, 'Published?' %><br>
      <%= f.check_box :published%>
    </div></p>
  <p><div class="field">
      <%= f.label :index %><br>
      <%= f.number_field :index %>
    </div></p>
  <p><div class="field upload">
      <label>
        <%= f.file_field :main_image %>
        Upload Main Image
    </label>
    </div></p>
  <p><div class="field upload">
      <label>
      <%= f.file_field :head_image %>
      Upload Head Image
    </label>
    </div></p>
  <p><div class="field">
      <%= f.label :body %><br>
      <%= f.text_area :body, :rows => "10"%>
    </div></p>
  <p><div class="actions">
      <%= f.submit %>
    </div></p>
<% end %>
