<section class=" container">
          
            

            
            <div class="row">
              <% @works.each_slice(2) do |i| %>

                <div class="row">
                  <% i.each do |work| %>

                  <div class="6u port-item">
              
                    <section class="<%=editable%>">
                      <%= link_to(work, :class=>"image feature") do %>
                        <%= image_tag work.main_image_url %>
                      <%end%>
                      <a href="#" class="image feature"> </a>
                      <header>
                        <%= link_to work do %>
                          <h3><span class=""><%=work.name%></span></h3>
                        <i class="fa fa-external-link-square"></i>
                        <%end%>
                        
                        
                      </header>
                        <% if user_signed_in? %>
                          <%= link_to 'Show', work %>
                          <%= link_to 'Edit', edit_work_path(work) %>
                          <%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <%end%>
                    </section>

                  </div>

                    
                  <%end%>
                </div>

              <%end%>
            </div>

                
             
            
            

            </div>
            
            <% if user_signed_in? %>
            <footer class="major">
              <ul class="buttons">
                <li><%= link_to 'New Work', new_work_path, :class=>"button" %></li>
              </ul>
            </footer>
            <% else %>
          <p></p><br>
          <p></p>
          <%end%>
          </section>
        
     


