<div class="container">
	<p id="notice"><%= notice %></p>
	<%= link_to 'Edit', edit_work_path(@work) %> |
	<%= link_to 'Back', works_path %>
</div>

<section>
						
<div class="container">
	<div class="row half">
		
		<div class="10u -1u">
		
			<section>
				<header>
					<h1 class="proj-title"><%= @work.name %></h1>

						<ul class="badges horisontal cf" >
							<li><img id="main-image" src="images/web-design.png"> </li>
							<li><img id="main-image" src="images/web-development.png"></li>
							<li><img id="main-image" src="images/graphic-design.png"></li>
							
							
						</ul>

					<p> <a href="http://www.consumervoiceresearch.ie" target="new" class="proj-link"> www.consumervoiceresearch.ie <i class="fa fa-external-link-square"></i></a></p>
					<p>Some description of what is going on in this project, what we did for customer and technologies used. Why its interesting</p>
				</header>
			</section>
		</div>

	</div>
</div>


<div class="container">
	<div class="row half">
							
			<div class="-2u 8u ">
			
				<img id="main-image" src="images/uploads/consumervoice-showcase-presentation.png">
			</div>
		</div>

		<div class="row half">
			
			<div class="-2u 8u ">
			
				<section>
						<p>Some description of what is going on in this project, what we did for customer and technologies used. Why its interesting. Some description of what is going on in this project, what we did for customer and technologies used. Why its interesting. Some description of what is going on in this project, what we did for customer and technologies used. Why its interesting. Some description of what is going on in this project, what we did for customer and technologies used. Why its interesting. </p>
				</section>
					
			</div>

		</div>
	</div>

<div class="container">
	<div class="row half">
			
		<div class="-2u 8u ">
		
			<section>
				<img id="main-image" src="images/uploads/consumervoice-fig-1.jpg">
			</section>
		</div>

	</div>
</div>

<div class="container">
	<div class="row half">
		
		<div class="-2u 8u ">
		
			<section>
				<img id="main-image" src="images/uploads/consumervoice-fig-2.jpg">
			</section>
				
		</div>

	</div>
</div>

<%= render "partials/portbottomnav"%>