<div class="container" >
	<%if @work.gdesign==true || @work.wdesign==true ||@work.wdevel==true %>
	<ul class="badges horisontal cf" >
		<%if @work.gdesign==true %>
			<li><img id="main-image" src="http://localhost:3000/css/images/graphic-design.png"></li>
		<%end%>
		<%if @work.wdesign==true %>
			<li><img id="main-image" src="http://localhost:3000/css/images/web-design.png"></li>
		<%end%>
		<%if @work.wdevel==true %>
			<li><img id="main-image" src="http://localhost:3000/css/images/web-development.png"></li>
		<%end%>
	</ul>
	<%end%>
</div>


<section id="content">
<%=raw @work.body%>
</section>

<% if user_signed_in? %>						
<div class="container adminlinks">
	<div>
	
	<%= link_to 'Edit', edit_work_path(@work) %> |
	<%= link_to 'Back', works_path %> |
	<%= link_to 'Destroy', @work, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"accent-red" %>
	</div>
</div>
<%end%>



<%= render "partials/portbottomnav"%>