
<p id="notice"><%= notice %></p>
<section>
<%=raw @work.body%>
</section>
						
<div class="container adminlinks">
	<div>
	
	<%= link_to 'Edit', edit_work_path(@work) %> |
	<%= link_to 'Back', works_path %>
	</div>
</div>



<%= render "partials/portbottomnav"%>