<header id="header" class="alt">
	<div class="container">
		<h1 id="logo"><a href="/"><img src="<%= asset_path('gfp-studio-logo.svg') %>"></span></a></h1>
		<%= render "partials/mainnav" %>
	</div>
</header>

<div id="moblogo">
	<a href="/"><img src="<%= asset_path('gfp-studio-logo.svg') %>"></span></a>
</div>

<% if current_page?('/')%>
	<%= render "partials/headers/homehead" %>
<%elsif current_page?('/works')%>
	<%= render "partials/headers/workhead" %>
<%else%>
	<%= render "partials/headers/workitemhead" %>
<% end %>

			