<div class="container">
<div class="row ">
		
<div class="-2u 8u ">

<hr>
	<div class="row">
		<%if @work.prev!=nil %>
		<div class="6u port-item">Prev<br>
			<section>
				
				<a href="<%=@work.prev.id%>" class="image feature"><img src="<%=@work.prev.main_image%>" alt="" /></a>
				<header>
					<a href="<%=@work.prev.id%>"><h3><span class=""><%=@work.prev.name%></span></h3>
						<i class="fa fa-external-link-square"></i>
					</a>
				</header>
				
			</section>
		</div>
		<%end%>

		<%if @work.next!=nil %>
		<div class="6u port-item">Next <br>
			<section>
				<a href="<%=@work.next.id%>" class="image feature"><img src="<%=@work.next.main_image%>" alt="" /></a>
				<header>
					<a href="<%=@work.next.id%>"><h3><span class=""><%=@work.next.name%></span></h3>
						<i class="fa fa-external-link-square"></i>
					</a>
				</header>
				
			</section>
		</div>
		<%end%>
	</div>
		
</div>


</div>

</section>
</div >
<p></p>

<div class="container">
	<footer class="major">
		<ul class="buttons">
			<li><a href="/works" class="button">ALL PROJECTS</a></li>
		</ul>
	</footer>
</div>